---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Navigation from "../layouts/Nav.astro";
import Header from "../layouts/Header.astro";
import AboutMe from "../layouts/AboutMe.astro";
---

<Layout>
  <Navigation />
  <Header />
  <main>
    <AboutMe />
  </main>
</Layout>
