---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Navigation from "../sections/Nav.astro";
import Header from "../sections/Header.astro";
import AboutMe from "../sections/AboutMe.astro";
import MyProjects from "../sections/MyProjects.astro";
import Contact from "../sections/Contact.astro";
import Footeer from "../sections/Footeer.astro";
import  "../styles/formSubmitPopup.css";
---

<Layout>
  <Navigation />
  <Header />
  <main>
    <AboutMe />
    <MyProjects />
    <Contact />
  </main>
  <Footeer />
</Layout>
<script src="../scripts/handleScroll.ts"></script>
