---
import Wrapper from "../components/Wrapper.astro";
import NavLinks from "../components/NavLinks.astro";
---

<nav
  class="top-0 fixed w-full h-36 lg:h-auto bg-white transition-colors center lg:block hidden z-20"
>
  <Wrapper
    size="large"
    class="desktop-nav lg:flex hidden items-center justify-evenly text-violet-950 align-middle h-14 transition-colors"
  >
    <a href="#">
      <h1 class="text-3xl font-bold ml-5">Stanisław Dymny</h1>
    </a>
    <ul class="flex text-2xl gap-13 ml-15">
      <NavLinks />
    </ul>
  </Wrapper>
</nav>
