<li><a href="#header" class=`${Astro.props.class} nav-link`>Home</a></li>
<li><a href="#about-me" class=`${Astro.props.class} nav-link`>About me</a></li>
<li><a href="#my-projects" class=`${Astro.props.class} nav-link`>My projects</a></li>
<li><a href="#contact" class=`${Astro.props.class} nav-link`>Contact</a></li>