---
import { Image } from "astro:assets";

import githubIcon from "../assets/icons/github.svg";
import emailIcon from "../assets/icons/email.svg";
import linkedinIcon from "../assets/icons/linkedin.svg";

const violet950Filter: string =
  "invert(10%) sepia(98%) saturate(6020%) hue-rotate(266deg) brightness(44%) contrast(99%);";
---

<div
  class={`flex justify-evenly mt-5 lg:mt-10 transition-all duration-700 ${Astro.props.class || ""}`}
>
  <a href="https://github.com/ziuteczek" target="_blank" title="github">
    <Image
      src={githubIcon}
      class="h-full object-contain size-20 hover:scale-105 transition-transform duration-150 hover:filter-[var(--filter-violet-950)]"
      alt="github icon"
      loading="eager"
    />
  </a>
  <a href="mailto:dymnystan@gmail.com" target="_blank" title="email">
    <Image
      src={emailIcon}
      class="h-full object-contain size-20 hover:scale-105 transition-transform duration-150 hover:filter-[var(--filter-violet-950)]"
      alt="mail icon"
      loading="eager"
    />
  </a>
  <a
    href="https://www.linkedin.com/in/stanis%C5%82aw-dymny-450009282/"
    target="_blank"
    title="linked in"
  >
    <Image
      src={linkedinIcon}
      class="h-full object-contain size-20 hover:scale-105 transition-transform duration-150 hover:filter-[var(--filter-violet-950)]"
      alt="linkedIn icon"
      loading="eager"
    />
  </a>
</div>
