---
import catSelfie from "../assets/cat-selfie.jpg";
import { Image } from "astro:assets";
import Wrapper from "../components/Wrapper.astro";
import SocialIcons from "../components/SocialIcons.astro";
---

<header>
  <Wrapper size="large">
    <div
      class="lg:grid lg:grid-cols-2 lg:grid-rows-2 lg:pt-14 lg:items-start min-h-svh flex flex-col justify-center items-center"
    >
      <div class="row-start-1 row-end-3 place-self-center">
        <Image
          src={catSelfie}
          alt="Stanisław Dymny with his tuxedo cat Tosia"
          class="bg-center object-cover aspect-square max-h-96 max-w-96 size-full rounded-full shadow-violet-950"
          loading="eager"
        />
        <SocialIcons class="lg:flex hidden"/>
      </div>
      <div class="lg:self-end lg:text-left text-center flex flex-col justify-center content-center">
        <h3 class="text-3xl font-bold mt-7">Who am I?</h3>

        <p class="text-4xl sm:text-5xl">
          My name is
          <strong class="text-violet-950 text-nowrap text-center"> Stanisław Dymny </strong>
          <br />
          <span class="text-center"> and I’m web developer</span>
        </p> 
      </div>
      <a
        href="#"
        class="p-5 bg-violet-950 mt-10 text-violet-50 size-fit text-5xl fw w-full rounded-xl cursor-pointer hover:scale-105 hover:text-violet-950 hover:bg-violet-50 border-2 border-violet-950 transition-all text-center"
      >
        View my projects!</a
      >
    </div>
  </Wrapper>
</header>
