---
import stasAge from "../scripts/calcStasAge";
import formSubmitPopupStyles from "../styles/formSubmitPopup.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <!-- OG Meta Tags  -->
    <meta property="og:title" content="Stanisław Dymny portfolio" />
    <meta
      property="og:description"
      content={`Stanisław Dymny, an ${stasAge}-year-old programming enthusiast, is seeking an internship. Skilled in web development and more, he’s eager to learn, grow, and contribute to innovative projects!`}
    />
    <meta
      property="og:image"
      content="https://ziuteczek.github.io/portfolio/cat-selfie.png"
    />
    <meta property="og:url" content="https://ziuteczek.github.io/portfolio/" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Stanisław Dymny portfolio" />
    <meta
      name="twitter:description"
      content={`Stanisław Dymny, an ${stasAge}-year-old programming enthusiast, is seeking an internship. Skilled in web development and more, he’s eager to learn, grow, and contribute to innovative projects!`}
    />
    <meta
      name="twitter:image"
      content="https://ziuteczek.github.io/portfolio/cat-selfie.png"
    />
    <meta name="twitter:url" content="https://ziuteczek.github.io/portfolio/" />

    <title>Stanisław Dymny</title>
    <meta
      name="description"
      content={`Stanisław Dymny, an ${stasAge}-year-old programming enthusiast, is seeking an internship. Skilled in web development and more, he’s eager to learn, grow, and contribute to innovative projects!`}
    />
  </head>
  <body class="font-[Inter] scroll-smooth">
    <noscript>Please turn on javscript!</noscript>
    <slot />
  </body>
</html>
