---
import projectsData from "../data/projects.json";
import ProjectCard from "../components/ProjectCard.astro";
import Wrapper from "../components/Wrapper.astro";

---

<section id="my-projects" class="bg-stone-200 ">
  <Wrapper size="large">
  <h2 class="text-7xl text-center pt-5">My projects</h2>
  <div class="flex gap-5 justify-center mt-7 overflow-x-scroll flex-wrap">
    {projectsData.map((project) => <ProjectCard {...project} />)}
  </div>
</Wrapper>
</section>
